body {
  font-family: Arial, sans-serif;
  background-color: #f8fbff;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #0b3c5d;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #9fd3ff !important;
}

/* Hero */
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.hero-box {
  position: relative;
  z-index: 2;
}

.hero-title {
  background: rgba(133, 177, 207, 0.6);
  backdrop-filter: blur(3px);

  color: white;
  padding: 12px 30px;

  border-radius: 999px;
  font-size: 45px;
}

.hero-subtitle {
  margin-top: 15px;

  background: rgba(133, 177, 207, 0.6);
  backdrop-filter: blur(3px);

  color: white;
  padding: 10px 25px;

  border-radius: 999px;
  display: inline-block;
}

/* Section */
.section-title {
  font-weight: bold;
  color: #0b3c5d;
}

/* Menu */
.menu-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  height: 250px;
  object-fit: cover;
}

.btn-pesan {
  background-color: #0b3c5d;
  color: white;
  border-radius: 30px;
  padding: 8px 25px;
}

.btn-pesan:hover {
  background-color: #145b89;
  color: white;
}

/* Gallery */
.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  border-radius: 20px;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: scale(1.03);
}

/* Footer */
footer {
  background-color: #08293f;
}

.text-accent {
  color: #9fd3ff;
}